{% extends 'baselog.html' %}

{% block content %}


<!-- <form action="/" method="POST"> 
    {% csrf_token %}
    Enter Username :<br><input type="text" name="username"><br>
    Enter Password :<br><input type="password" name="password"><br>
    <br>
    <br>
    <input type ="submit">

</form> -->




<div class="col-md-4 mx-auto" style="margin-left: 35rem">
    <form action="/" method="POST">
        
        {% csrf_token %}
    
        <div class="mb-3">
            <h1>  LOGIN  </h1>
        </div>
        <div class="mb-3  align-items-center" >
          <label for="exampleInputtext" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id="exampleInputtext" >
        </div>
        <div class=" mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


 
{% endblock %}